
<!-- <mat-toolbar color="primary" class="app-header">
    <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>
  <router-outlet></router-outlet> -->
  
<!-- <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users; let index=index">
                <td>{{index + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<app-multitheme></app-multitheme>
