<!-- <mat-toolbar color="primary" class="app-header">
    <div><a href="https://www.positronx.io" target="_blank" class="positronx">PositronX.io</a></div>
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>
  <router-outlet></router-outlet> -->

<!-- <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of users; let index=index">
                <td>{{index + 1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

<!-- <h1 class="text-center"> {{title}} </h1>

 <app-multitheme></app-multitheme><br>
<div class="para float-left text-center" myHighlight
	[backgroundColor]="'black'" 
	[foregroundColor]="'white'"
	[hoverBackgroundColor]="'yellow'"
	[hoverForegroundColor]="'red'">Some text to be highlighted !
</div> -->
<!-- Show Me
<input type="checkbox" [(ngModel)]="show">
 
<div *ttIf="show">
  Using the ttIf directive
</div>
 
<div *ngIf="show">
  Using the ngIf directive
</div> -->

<!-- <h1>
  {{title}}
</h1>

<button type="button" routerLink="/customers">Customers</button>
<button type="button" routerLink="/orders">Orders</button>
<button type="button" routerLink="">Home</button>-->


<div>
  <select [(ngModel)]="myColor">
    <option value='' selected> Select Color </option>
    <option *ngFor="let color of colors" [value]="color">
      {{color}}
    </option>
  </select>
  <p [dynamicColor]="myColor" defaultValue="red"> dynamicColor Custom Directive Demo</p>
</div>

<router-outlet></router-outlet>