<div class="container-fluid regContainer bg-img">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-dark-50 bg border-form">
            <form name="regForm">
                <h1>Register Form</h1><br>
                <label>First name: </label>
                <input type="text" id="fname" placeholder="Enter FirstName"><br><br>
                <label>Last name: </label>
                <input type="text" id="lname" placeholder="Enter LastName"><br><br>
                <label>Email: </label>
                <input type="text" style="margin-left: 30px;" id="email" placeholder="Enter Email"><br><br>
                <label>Password: </label>
                <input type="password" id="pwd" placeholder="Enter Password"><br><br>
                <p class="passwordLabel">Use more than 6 characters with the mix of letters & numbers</p>
                <button id="signup" class="btn-secondary">Signup</button>
                <p>Already have an account <a href="login.html" class="btn btn-danger">Login</a></p>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>