.p{
    color: var(--title-color);
    font-weight: 900;
    font-size: 30px;
}

.cus-btn{
    background-color: var(--button-bg-color);
    border-color: var(--button-border-color);
    color: var(--button-text-color);
}